*{
    padding: 0px;
    margin: 0px;
     font-family: "Open Sans", sans-serif;
}
img{
    max-width: 100%;
}

/* Common style */
.common-btn{
    background-color: #FD6E0A;
    padding: 6px 15px;
    border-radius: 12px;
    font-weight: bold;
    font-size: 22px;
    color: white;
    border: none;
    cursor: pointer;
}
.outline-btn{
    background-color: white;
    padding: 6px 15px;
    border-radius: 12px;
    font-weight: bold;
    font-size: 22px;
    color: #FD6E0A;
    border: 1px solid #FD6E0A;
    cursor: pointer;
}

.container{
    max-width: 1200px;
    margin: auto;
}
nav{
    display: flex;
    justify-content: space-between;
  
    padding: 12px 0px;
}
.logo{
    font-weight: bold;
    font-size: 32px;
}
.logo-r{
    color: #FD6E0A;
}
ul{
    display: flex;
    justify-content: space-between;
    list-style: none;
    gap: 10px;
    align-items: center;
}
ul li a {
    text-decoration: none;
}
.hero-parent-root{
    background-color: #fff8f3FF;
}
.hero-parent{
    display: flex;
    justify-content: space-between;
    align-items: center;
   
}
.hero-left h2{
    font-weight: bold;
    font-size: 85px;
    margin-bottom: 15px;
}
.hero-left-p-1{
    font-size: 45px;
    font-weight: 600;
}
.hero-left-btn-parent{
    margin-top: 15px;
}

/* about us css */
.about-parent{
     background-color: #fff8f3FF;
     margin: 70px auto;
     border-radius: 10px;
     padding: 75px;
     text-align: center;
}
.about-parent p {
    margin: 20px 0px;
}
.about-box-parent{
    display: flex;
    justify-content: space-between;
    gap: 8px;
}
.about-box-parent .box {
    background-color: rgb(236, 220, 208);
    padding: 5px;
    border-radius: 5px;
}
/* what i do section */
.what-i-do-parent{
    margin: 60px auto;
    text-align: center;
}
.what-i-do-card-container{
    margin-top: 30px;
    display: flex;
    justify-content: space-between;
    gap: 8px;
}
.what-i-do-card-container .what-i-do-card {
    border: 5px solid orange;
    padding: 20px;
    border-radius: 10px;
    text-align: left;
}
.what-i-do-card-container .what-i-do-card h3{
    margin: 10px 0;
}
.what-i-do-card-container .what-i-do-card p {
    color: #757575;
    font-size: 15px;
}
/* Resume section */
.resume{
    margin-top: 100px;
}
.resume h2{
    text-align: center;
    font-size: 35px;
    margin-bottom: 80px;
    color: #181818;
}
.resume-container{
    display: flex;
    gap: 40px;
}
.resume-colum{
    flex: 1;
    text-align: left;
}
.resume-colum h3{
    font-size: 30px;
    margin-bottom: 30px;
}
.resume-item{
    border-bottom: 1px solid #ddd;
    margin-bottom: 30px;
    padding-bottom: 30px;
}
.resume-item h4{
    font-size: 25px;
    color: #333;
}
.resume-item h5{
    font-size: 18px;
    color: #757575;
    margin: 10px 0;
}
.resume-item p{
    color: #757575;
    line-height: 28px;
}
.download-cv{
    text-align: center;
}
.download-cv button{
    padding: 15px 30px;
    background: #FD6E0A;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;

}

/* Amazing work section */
.my-amazing-parent{
    margin-top: 100px;
    text-align: center;
}
.gallery{
    margin-top: 40px;
    display: grid;
    gap: 12px;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 250px;
    grid-template-areas: 
    "one two three"
    "four two six"
    "four five six"
}
.gallery img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}
.box-1{
    grid-area: one;
}
.box-2{
    grid-area: two;
}
.box-3{
    grid-area: three;
}
.box-4{
    grid-area: four;
}
.box-5{
    grid-area: five;
}
.box-6{
    grid-area: six;
}